<div class="wallbox-grid">
  <div class="status">
    <p>{{ status() }}</p>
  </div>
  <div class="cell">
    <p class="value">{{ wallboxState()?.power?.value | number: '1.1-1' }} kW</p>
    <p class="label">aktuelle</p>
    <p class="label">Leistung</p>
  </div>
  <div class="cell">
    <p class="value">{{ wallboxState()?.charged?.value | number: '1.1-1' }} kWh</p>
    <p class="label">bisher</p>
    <p class="label">geladen</p>
  </div>
  <div class="cell">
    <p class="value">{{ wallboxState()?.duration?.value | hours }}</p>
    <p class="label">Ladezeit</p>
    <p class="label">bisher</p>
  </div>
</div>
